extends layout

block content
    div(class="container col-lg-6 ms-auto me-auto border")
        div(class="row")
            span(class="border-bottom")
                p 
                    b Name
                p #{user_name}
        div(class="row")
            span(class="border-bottom")
                p
                    b Age 
                p #{user_age}
        div(class="row")
            span(class="border-bottom")
                p 
                    b City 
                p #{user_city}
        div(class="row")
            span(class="border-bottom")
                p
                    b Phone 
                p #{user_phone}
        div(class="row")
            span(class="border-0")
                p 
                    b Email 
                p #{user_email}